<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://s12.postimg.org/k0y5zevlp/orange_beer_256.png">
    <title>Settings</title>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Beer Me</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="settings">Settings</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div class="control-group" style="margin-left: 80px;">
            <!-- Old Password -->
            <label class="control-label" for="old_password">Current Password</label>
            <div class="controls">
                <input type="password" id="old_password" name="old_password" placeholder="" class="input-xlarge">
                <p class="help-block">Please provide your current password</p>
            </div>
        </div>

        <div class="control-group" style="margin-left: 80px;">
            <!-- Password-->
            <label class="control-label" for="new_password">New Password</label>
            <div class="controls">
                <input type="password" id="new_password" name="new_password" placeholder="" class="input-xlarge">
                <p class="help-block">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group" style="margin-left: 80px;">
            <!-- Password -->
            <label class="control-label" for="password_confirm">New Password (Confirm)</label>
            <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                       class="input-xlarge">
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group" style="margin-left: 80px;">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Update</button>
            </div>
        </div>
    </fieldset>
    </form>
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-right">
            <p>
                CS 411 project by Aaron Liu, Lauren Marshall and Andrew Mogensen.
            </p>
        </div>
    </div>
</div>
</body>
</html>